In [40]:
import numpy as np
import pandas as pd

In [41]:
df = pd.read_csv("data.csv")

In [42]:
df.head(5)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [43]:
df['Class'].value_counts()

M    211
H    142
L    127
Name: Class, dtype: int64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
gender                      480 non-null object
NationalITy                 480 non-null object
PlaceofBirth                480 non-null object
StageID                     480 non-null object
GradeID                     480 non-null object
SectionID                   480 non-null object
Topic                       480 non-null object
Semester                    480 non-null object
Relation                    480 non-null object
raisedhands                 480 non-null int64
VisITedResources            480 non-null int64
AnnouncementsView           480 non-null int64
Discussion                  480 non-null int64
ParentAnsweringSurvey       480 non-null object
ParentschoolSatisfaction    480 non-null object
StudentAbsenceDays          480 non-null object
Class                       480 non-null object
dtypes: int64(4), object(13)
memory usage: 63.9+ KB

In [45]:
demographic = df[['gender','NationalITy']]
demographic

    gender NationalITy
0        M          KW
1        M          KW
2        M          KW
3        M          KW
4        M          KW
..     ...         ...
475      F      Jordan
476      F      Jordan
477      F      Jordan
478      F      Jordan
479      F      Jordan

[480 rows x 2 columns]

In [46]:
edu = df[['StageID','GradeID','SectionID']]
edu

          StageID GradeID SectionID
0      lowerlevel    G-04         A
1      lowerlevel    G-04         A
2      lowerlevel    G-04         A
3      lowerlevel    G-04         A
4      lowerlevel    G-04         A
..            ...     ...       ...
475  MiddleSchool    G-08         A
476  MiddleSchool    G-08         A
477  MiddleSchool    G-08         A
478  MiddleSchool    G-08         A
479  MiddleSchool    G-08         A

[480 rows x 3 columns]

In [47]:
psy = df[['raisedhands','VisITedResources','ParentAnsweringSurvey','ParentschoolSatisfaction']]
psy

,raisedhands,VisITedResources,ParentAnsweringSurvey,ParentschoolSatisfaction
0,15,16,Yes,Good
1,20,20,Yes,Good
2,10,7,No,Bad
3,30,25,No,Bad
4,40,50,No,Bad
...,...,...,...,...
475,5,4,No,Bad
476,50,77,No,Bad
477,55,74,No,Bad
478,30,17,No,Bad
479,35,14,No,Bad

In [48]:
fitur = df[['StageID','GradeID','SectionID','gender','NationalITy','raisedhands','VisITedResources','ParentAnsweringSurvey','ParentschoolSatisfaction']]

In [63]:
label = df['Class']
fitur = df.drop('Class', axis = 1)
fitur = pd.get_dummies(fitur)

In [50]:
fitur

,raisedhands,VisITedResources,AnnouncementsView,Discussion,gender_F,gender_M,NationalITy_Egypt,NationalITy_Iran,NationalITy_Iraq,NationalITy_Jordan,...,Semester_F,Semester_S,Relation_Father,Relation_Mum,ParentAnsweringSurvey_No,ParentAnsweringSurvey_Yes,ParentschoolSatisfaction_Bad,ParentschoolSatisfaction_Good,StudentAbsenceDays_Above-7,StudentAbsenceDays_Under-7
0,15,16,2,20,0,1,0,0,0,0,...,1,0,1,0,0,1,0,1,0,1
1,20,20,3,25,0,1,0,0,0,0,...,1,0,1,0,0,1,0,1,0,1
2,10,7,0,30,0,1,0,0,0,0,...,1,0,1,0,1,0,1,0,1,0
3,30,25,5,35,0,1,0,0,0,0,...,1,0,1,0,1,0,1,0,1,0
4,40,50,12,50,0,1,0,0,0,0,...,1,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,5,4,5,8,1,0,0,0,0,1,...,0,1,1,0,1,0,1,0,1,0
476,50,77,14,28,1,0,0,0,0,1,...,1,0,1,0,1,0,1,0,0,1
477,55,74,25,29,1,0,0,0,0,1,...,0,1,1,0,1,0,1,0,0,1
478,30,17,14,57,1,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
479,35,14,23,62,1,0,0,0,0,1,...,0,1,1,0,1,0,1,0,1,0

In [51]:
label

0      M
1      M
2      L
3      L
4      M
      ..
475    L
476    M
477    M
478    L
479    L
Name: Class, Length: 480, dtype: object

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(fitur, label, test_size = 0.2, random_state = 8)

In [12]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, confusion_matrix, classification_report

In [59]:
def RandomSearch(classifier, random_grid):
    # Definition of the random search
    random_search = RandomizedSearchCV(estimator=classifier,
                                       param_distributions=random_grid,
                                       n_iter=30,
                                       scoring='accuracy',
                                       cv=10, 
                                       verbose=1, 
                                       random_state=8)

    # Fit the random search model
    random_search.fit(X_train, y_train)
    
    print("Parameter terbaik yang dihasilkan dari Random Search : ")
    print(random_search.best_params_) #Print hyperparameter yang telah didapatkan dari RandomizeSearch
    print("")
    print("Rata-rata akurasi dari model dengan hyperparameter yang didapat : ")
    print(random_search.best_score_)
    return random_search.best_estimator_

In [65]:
#Decision Tree Classifier
random_grid = {'min_samples_split': [x for x in range(2, 15)], 
              'min_samples_leaf': [x for x in range(1,15)], 
              'max_depth': [x for x in range(2,30)]}
classifier = DecisionTreeClassifier()
bestParamClassifier = RandomSearch(classifier, random_grid)

bestParamClassifier.fit(X_train, y_train)
 
y_train_pred = bestParamClassifier.predict(X_train)
y_test_pred = bestParamClassifier.predict(X_test)

print("Akurasi train data : ",accuracy_score(y_train, y_train_pred))
print("Akurasi test data : ",accuracy_score(y_test, y_test_pred))
# print("Precision train data : ",precision_score(y_train, y_train_pred))
# print("Recall score train data : ",recall_score(y_train, y_train_pred))
# print("F1 Score train data : ",f1_score(y_train, y_train_pred))
print(classification_report(y_test, y_test_pred))

Fitting 10 folds for each of 30 candidates, totalling 300 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Parameter terbaik yang dihasilkan dari Random Search :
{'min_samples_split': 12, 'min_samples_leaf': 1, 'max_depth': 29}

Rata-rata akurasi dari model dengan hyperparameter yang didapat :
0.7317708333333334
Akurasi train data :  0.9296875
Akurasi test data :  0.7395833333333334
              precision    recall  f1-score   support

           H       0.69      0.71      0.70        28
           L       0.75      0.91      0.82        23
           M       0.77      0.67      0.71        45

    accuracy                           0.74        96
   macro avg       0.74      0.76      0.75        96
weighted avg       0.74      0.74      0.74        96

[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    3.1s finished
C:\Users\mmukhtar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [75]:
#Naive Bayes
random_grid = {'fit_prior' : [True, False],
                   'alpha' : [x*0.1 for x in range(1,15)]}
classifier = MultinomialNB()
bestParamClassifier = RandomSearch(classifier, random_grid)

bestParamClassifier.fit(X_train, y_train)
 
y_train_pred = bestParamClassifier.predict(X_train)
y_test_pred = bestParamClassifier.predict(X_test)

print("Akurasi train data : ",accuracy_score(y_train, y_train_pred))
print("Akurasi test data : ",accuracy_score(y_test, y_test_pred))
print(classification_report(y_test, y_test_pred))

C:\Users\mmukhtar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:266: UserWarning: The total space of parameters 28 is smaller than n_iter=30. Running 28 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Fitting 10 folds for each of 28 candidates, totalling 280 fits
Parameter terbaik yang dihasilkan dari Random Search :
{'fit_prior': True, 'alpha': 0.3}

Rata-rata akurasi dari model dengan hyperparameter yang didapat :
0.6380208333333334
Akurasi train data :  0.6744791666666666
Akurasi test data :  0.5729166666666666
              precision    recall  f1-score   support

           H       0.66      0.68      0.67        28
           L       0.48      0.87      0.62        23
           M       0.64      0.36      0.46        45

    accuracy                           0.57        96
   macro avg       0.59      0.63      0.58        96
weighted avg       0.61      0.57      0.56        96

[Parallel(n_jobs=1)]: Done 280 out of 280 | elapsed:    2.4s finished
C:\Users\mmukhtar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [17]:
#SVM
random_grid = {'C': [.0001, .001, .01],
                  'kernel': ['linear'],
                  'gamma': [.0001, .001, .01, .1, 1, 10, 100],
                  'degree': [2, 3, 4, 5]}
classifier =svm.SVC(random_state=8)
bestParamClassifier = RandomSearch(classifier, random_grid)

bestParamClassifier.fit(X_train, y_train)
 
y_train_pred = bestParamClassifier.predict(X_train)
y_test_pred = bestParamClassifier.predict(X_test)

print("Akurasi train data : ",accuracy_score(y_train, y_train_pred))
print("Akurasi test data : ",accuracy_score(y_test, y_test_pred))
print(classification_report(y_test, y_test_pred))

Fitting 10 folds for each of 30 candidates, totalling 300 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Parameter terbaik yang dihasilkan dari Random Search :
{'kernel': 'linear', 'gamma': 100, 'degree': 4, 'C': 0.01}

Rata-rata akurasi dari model dengan hyperparameter yang didapat :
0.7113095238095238
Akurasi train data :  0.7321428571428571
Akurasi test data :  0.6597222222222222
              precision    recall  f1-score   support

           H       0.78      0.67      0.72        42
           L       0.62      0.73      0.67        41
           M       0.62      0.61      0.61        61

    accuracy                           0.66       144
   macro avg       0.67      0.67      0.67       144
weighted avg       0.67      0.66      0.66       144

[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    4.7s finished
C:\Users\mmukhtar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [18]:
random_grid = {'n_estimators': [int(x) for x in np.linspace(start = 200, stop = 1000, num = 5)],
               'max_features': ['auto', 'sqrt'],
               'max_depth': [20, 40, 60, 80, 100, None],
               'min_samples_split': [2, 5, 10],
               'min_samples_leaf': [1, 2, 4],
               'bootstrap': [True, False]
}
classifier = RandomForestClassifier(random_state = 8)
bestParamClassifier = RandomSearch(classifier, random_grid)

bestParamClassifier.fit(X_train, y_train)
 
y_train_pred = bestParamClassifier.predict(X_train)
y_test_pred = bestParamClassifier.predict(X_test)

print("Akurasi train data : ",accuracy_score(y_train, y_train_pred))
print("Akurasi test data : ",accuracy_score(y_test, y_test_pred))
print(classification_report(y_test, y_test_pred))

Fitting 10 folds for each of 30 candidates, totalling 300 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:  5.4min finished
C:\Users\mmukhtar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

Parameter terbaik yang dihasilkan dari Random Search :
{'n_estimators': 200, 'min_samples_split': 5, 'min_samples_leaf': 1, 'max_features': 'auto', 'max_depth': 20, 'bootstrap': False}

Rata-rata akurasi dari model dengan hyperparameter yang didapat :
0.8214285714285714
Akurasi train data :  1.0
Akurasi test data :  0.7777777777777778
              precision    recall  f1-score   support

           H       0.88      0.69      0.77        42
           L       0.84      0.78      0.81        41
           M       0.70      0.84      0.76        61

    accuracy                           0.78       144
   macro avg       0.81      0.77      0.78       144
weighted avg       0.79      0.78      0.78       144

In [34]:
from sklearn.neural_network import MLPClassifier
# classifier = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(40,20,10), random_state=1)

hidden_layer = []
for i in range(5, 100, 5):
    for j in range(5, 100, 5):
        for k in range(5, 100, 5):
            hidden_layer.append([i,j,k])

random_grid = {'solver' : ['lbfgs'],
               'alpha' : [1e-5],
               'hidden_layer_sizes' : hidden_layer
}
classifier = MLPClassifier(random_state = 8)
bestParamClassifier = RandomSearch(classifier, random_grid)

bestParamClassifier.fit(X_train, y_train)
 
 
y_train_pred = bestParamClassifier.predict(X_train)
y_test_pred = bestParamClassifier.predict(X_test)

print("Akurasi train data : ",accuracy_score(y_train, y_train_pred))
print("Akurasi test data : ",accuracy_score(y_test, y_test_pred))
print(classification_report(y_test, y_test_pred))

Fitting 10 folds for each of 20 candidates, totalling 200 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 200 out of 200 | elapsed:  2.9min finished
C:\Users\mmukhtar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

Parameter terbaik yang dihasilkan dari Random Search :
{'solver': 'lbfgs', 'hidden_layer_sizes': [10, 30, 15], 'alpha': 1e-05}

Rata-rata akurasi dari model dengan hyperparameter yang didapat :
0.7708333333333334
Akurasi train data :  0.8046875
Akurasi test data :  0.7604166666666666
              precision    recall  f1-score   support

           H       0.83      0.68      0.75        28
           L       0.72      0.91      0.81        23
           M       0.75      0.73      0.74        45

    accuracy                           0.76        96
   macro avg       0.77      0.77      0.76        96
weighted avg       0.77      0.76      0.76        96